<!-- templates/download.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Download{% endblock %}


{% block content %}
<style>
    .center {
        align-items: baseline;
    }
</style>
<div class="settings-container">
    <div class="menu">
        <a id="editprofile" onclick="editprofile( this.id )" href="#">Edit profile</a>
        <a href="#">Accounts</a>
        <a id="addaccount" onclick="addaccount( this.id )" href="#">Add LoL account</a>
    </div>
    <div id="openedselection">
        <h4>Avatar</h4>
        <div>
            <form method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="image_upload">
                {{ image_form }}
                <button type="submit">Upload</button>
              </form>
        </div>
    </div>
</div>
<script>

function addaccount(clicked_id) {
    changeselection(clicked_id)
    var os = document.getElementById("openedselection")
    os.innerHTML = 
    `<h1>Register</h1>
    Please change summoner icon to
    <img src="{% static icon_path %}">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
        {{ account_form }}                    
        <button class="btn btn-primary" type="submit">Activate</button>
    </form>`
}

function editprofile(clicked_id) {
    changeselection(clicked_id)
    var os = document.getElementById("openedselection")
    os.innerHTML = ""
}

function changeselection(clicked_id) {
    var as = document.getElementsByTagName('a');
    for(var i = 0; i < as.length; i++) {
        removeClass(as[i], "background-black")
    }
    addClass(document.getElementById(clicked_id), "background-black")
}

function hasClass(el, className)
{
    if (el.classList)
        return el.classList.contains(className);
    return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'));
}

function addClass(el, className)
{
    if (el.classList)
        el.classList.add(className)
    else if (!hasClass(el, className))
        el.className += " " + className;
}

function removeClass(el, className)
{
    if (el.classList)
        el.classList.remove(className)
    else if (hasClass(el, className))
    {
        var reg = new RegExp('(\\s|^)' + className + '(\\s|$)');
        el.className = el.className.replace(reg, ' ');
    }
}

//editprofile( "editprofile" )
</script>
{% endblock %}