<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock %}
{% block pname %}About Me{% endblock %}

{% block content %}

<div class="aboutcontainer">
    <div class="abouthero"><img src="{% static 'images/herobg.jpg' %}"></div>
    <div class="mainabout">

        <h3>What is babblevoice?</h3>
        <p>Babblevoice is a smart cloud-hosted telephony system built specifically for GP surgeries. It is simple to use, yet meets the complex needs of today’s GP practices, CCGs and PCNs. We excel in areas such as cost effectiveness, line capacity, flexibility, remote-working, and real-time reporting. 

            All with no minimum contract terms or exit fees. 
            
            Our mission is to deliver a phone system that supports surgeries in delivering care to patients, with functionality that includes:
            - intelligent call routing and queuing enabling telephone triage
            - integration with EMIS and SystmOne allowing secure automated access to patient records
            - automated patient-led booking and managing of appointments
            - call recording for monitoring and training
            - real-time reporting
            
            <a href="https://www.babblevoice.com/">www.babblevoice.com</a>
        </p>

        <h3>What is my role?</h3>
            <p>I am a Software Developer in a small 4 person team. My job is primarily to develop, test and maintain our new core telephony system, which includes all the features mentioned above as well as
                our own SIP server and a robust RTP engine (available under MIT licencse <a href="https://github.com/babblevoice/projectrtp">here</a>).
            </p>
    </div>
</div>

{% endblock %}