<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Base html{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  {% block css %}{% endblock %}
</head>
  <main>
    <div class="full">
    <div class="navbar">
      <div class="nav name">Jakub Kulik</div>
      <div class="navline"></div>
    </div>
    <div class="mainpage">
      <div class="leftnav">
        <ul class="primary-nav nav">
          <li><a class="logo" href="{% url 'aboutme' %}">About Me</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
          <li><a href="{% url 'projects' %}">Projects</a></li>
        </ul>
      </div>
    
      <div class="center">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
  </main>
</body>
</html>
