<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Viridiastrum Vexillum{% endblock %}
{% block pname %}Viridiastrum Vexillum{% endblock %}

{% block content %}

<div class="aboutcontainer">
    <div class="mainabout">

        <h3>Viridiastrum Vexillum</h3>
        <p>Viridiastrum Vexillum is a 2D MMORPG open world game with a turn based combat system.</p>

        <h3>What is my role?</h3>
            <p>I am a Software Developer in a small 4 person team. My job is primarily to develop, test and maintain our new core telephony system, which includes all the features mentioned above as well as
                our own SIP server and a robust RTP engine (available under MIT licencse <a href="https://github.com/babblevoice/projectrtp">here</a>).
            </p>
    </div>
</div>

{% endblock %}