<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock %}
{% block pname %}About Me{% endblock %}

{% block content %}

<div class="aboutcontainer">
    <div class="abouthero">
        <div class="heroimagecontainer">
            <img src="{% static 'images/pfp.png' %}">
        </div>
        <div>
            <h3>Hi!</h3>
            <p>My name is Jakub and I am currently working as a Software Developer for babblevoice.</p>
            <p>If you'd like, please have a look at my portfolio under Projects</p>
            <p>Additionally, If it's your thing I make blog posts about Latin dance, which has been my passion for a while</p>
        </div>
    </div>
    <div class="mainabout">

        <h3>What I Do</h3>
        <p>I am a University taught Engineer with a total of 7 years of programming experience.</p>
        <p>I mostly work on Networks with multiple components interacting with eachother in a Docker environment</p>
        <p>Additionally, I help businesses achieve recognition and increase profitability by refining their digital marketing strategy and creating web apps that conform to the latest industry's standards</p>

        <h3>My Skills</h3>

        <ul>
            <li>NodeJS</li>
            <li>Docker</li>
            <li>Django</li>
            <li>PostgreSQL</li>
            <li>Unreal Engine 5</li>
        </ul>
        <p>For usage example see <a href="{% url 'projects' %}">projects</a></p>
        
        <h3>Programming Languages</h3>
        <ul>
            <li>JavaScript</li>
            <li>Python</li>
            <li>JavaScript</li>
            <li>HTML/CSS</li>
            <li>SQL</li>
            <li>C++</li>
        </ul>

        <h3>Education</h3>
        <p><span style="font-weight: bold;">Highschool:</span> Mickiewicz Highschool, International Baccalaureate programme</p>
        <p><span style="font-weight: bold;">University:</span> Unversity of Aberdeen, BSc Computer Science</p>

    </div>
</div>

{% endblock %}