<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}


{% block content %}

<div class="project-container">

  <div class="project-slide">
    <div class="imagecontainer">
      <img src="{% static 'images/img1.jpg' %}">
      <div class="titletextspace">
        <div class="title"><h3>Title</h3></div>
        <div class="subtitle">subtitle</div>
      </div>
    </div>
    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor dictum arcu id molestie. Nulla facilisi. Sed feugiat, elit id efficitur malesuada, orci lorem accumsan nulla, tincidunt venenatis felis justo egestas nulla. Nam lacinia sem bibendum orci interdum, sit amet bibendum elit interdum. Ut a augue rutrum, maximus sem sed, ornare purus. Suspendisse porta venenatis metus, id iaculis quam commodo nec. Quisque porta vestibulum eros, id tempus nisl varius eget. Proin malesuada at mauris at pellentesque. Sed in gravida nisi. Sed aliquam sem dui, ut ornare sapien malesuada vel. Quisque quis augue ac libero molestie laoreet. </div>
  </div>

  <div class="project-slide">
    <div class="imagecontainer">
      <img src="{% static 'images/img1.jpg' %}">
      <div class="titletextspace">
        <div class="title"><h3>Title</h3></div>
        <div class="subtitle">subtitle</div>
      </div>
    </div>
    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor dictum arcu id molestie. Nulla facilisi. Sed feugiat, elit id efficitur malesuada, orci lorem accumsan nulla, tincidunt venenatis felis justo egestas nulla. Nam lacinia sem bibendum orci interdum, sit amet bibendum elit interdum. Ut a augue rutrum, maximus sem sed, ornare purus. Suspendisse porta venenatis metus, id iaculis quam commodo nec. Quisque porta vestibulum eros, id tempus nisl varius eget. Proin malesuada at mauris at pellentesque. Sed in gravida nisi. Sed aliquam sem dui, ut ornare sapien malesuada vel. Quisque quis augue ac libero molestie laoreet. </div>
  </div>

  <div class="project-slide">
    <div class="imagecontainer">
      <img src="{% static 'images/img1.jpg' %}">
      <div class="titletextspace">
        <div class="title"><h3>Title</h3></div>
        <div class="subtitle">subtitle</div>
      </div>
    </div>
    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor dictum arcu id molestie. Nulla facilisi. Sed feugiat, elit id efficitur malesuada, orci lorem accumsan nulla, tincidunt venenatis felis justo egestas nulla. Nam lacinia sem bibendum orci interdum, sit amet bibendum elit interdum. Ut a augue rutrum, maximus sem sed, ornare purus. Suspendisse porta venenatis metus, id iaculis quam commodo nec. Quisque porta vestibulum eros, id tempus nisl varius eget. Proin malesuada at mauris at pellentesque. Sed in gravida nisi. Sed aliquam sem dui, ut ornare sapien malesuada vel. Quisque quis augue ac libero molestie laoreet. </div>
  </div>

  <div class="project-slide">
    <div class="imagecontainer">
      <img src="{% static 'images/img1.jpg' %}">
      <div class="titletextspace">
        <div class="title"><h3>Title</h3></div>
        <div class="subtitle">subtitle</div>
      </div>
    </div>
    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor dictum arcu id molestie. Nulla facilisi. Sed feugiat, elit id efficitur malesuada, orci lorem accumsan nulla, tincidunt venenatis felis justo egestas nulla. Nam lacinia sem bibendum orci interdum, sit amet bibendum elit interdum. Ut a augue rutrum, maximus sem sed, ornare purus. Suspendisse porta venenatis metus, id iaculis quam commodo nec. Quisque porta vestibulum eros, id tempus nisl varius eget. Proin malesuada at mauris at pellentesque. Sed in gravida nisi. Sed aliquam sem dui, ut ornare sapien malesuada vel. Quisque quis augue ac libero molestie laoreet. </div>
  </div>

<script>

</script>
{% endblock %}