<!-- templates/myaccount.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}MyAccount{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/myaccount.css' %}">{% endblock %}
{% block content %}
<div class="myaccount-container">
    <div class="hero">
        <div class="profile-picture">
            <img src="{{ profile_picture.image.url }}" />
        </div>
        <div class="basicinfo">
            <p>{{ userinfo.nickname }}</p>
            <p>Polish/English</p>
            <p>{{ userinfo.sex }} {{ userinfo.age }}</p>
        </div>
    </div>
    <div class="middle-profile">
        <div class="profile information">
            {{ userinfo.description }}
        </div>
        <div class="posts">
            {% for post in posts %}
                <div class="post ">
                    <div class="post-title">
                        {{ post.name }}
                    </div>
                    <div class="post-image">
                        <img src="{% static 'images/img1.jpg' %}" style="width:100%">
                    </div>
                    <div class="post-content">
                        {{ post.content }}
                    </div>
                    <div class="post-footer">
                        {{ post.date }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="accounts">
            <div class="account">
                <img src="{% static icon_path %}">
                {{ name }} {{ level }} {{ tier }} {{ rank }} {{ lp }}
            </div>
            <div class="account">
                <a href="{% url 'accounts:settings' %}">Settings</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}