<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}
{% block pname %}Projects{% endblock %}

{% block content %}

<div class="project-container">

  <div class="project-slide">
    <div class="imagecontainer">
      <a href="{% url 'babblevoice' %}">
        <img src="{% static 'images/babblevoice.png' %}">
      </a>
      <div class="titletextspace">
        <div class="titletextspace-contents">
          <div class="title"><h3>Babblevoice</h3></div>
          <div class="subtitle">The GP surgery telephony system that cares</div>
        </div>
      </div>
    </div>
    <div class="description">
      <div class="description-text">

        <h3>Summary</h3>
        <p>Babblevoice is a smart cloud-hosted telephony system built specifically for GP surgeries. It is simple to use, yet meets the complex needs of today's GP practices, CCGs and PCNs. <a href="https://www.babblevoice.com/">www.babblevoice.com</a></p>
        <p>I spend most of my time working on the core of the company's telephony system, ocassionally helping out with the website on a per-request basis.</p>
        <a href="{% url 'babblevoice' %}">Read more</a>

        <h3>Tech Stack</h3>
        <ul>
          <li>Docker</li>
          <li>NodeJS</li>
          <li>SIP</li>
          <li>RTP</li>
        </ul>

        <h3>Programming Languages</h3>
        <ul>
          <li>Javascript</li>
          <li>SQL</li>
          <li>C++</li>
          <li>HTML/CSS</li>
        </ul>

      </div>
    </div>
  </div>

  <div class="project-slide">
    <div class="imagecontainer">
      <a href="{% url 'game' %}">
        <img src="{% static 'images/game1.png' %}">
      </a>
      <div class="titletextspace">
        <div class="titletextspace-contents">
          <div class="title"><h3>Viridiastrum Vexillum</h3></div>
          <div class="subtitle">A turn based RPG game</div>
        </div>
      </div>
    </div>
    <div class="description">
      <div class="description-text">

        <h3>Summary</h3>
        <p>Viridiastrum Vexillum is a 2D multiplayer game developed by me over the course of 2022/23.
          The main gameplay mechanic is a turn based combat that can be initiated between players/npcs (non player characters) of various team sizes in the open world.</p>
        <a href="{% url 'game' %}">Read more</a>

        <h3>Tech Stack</h3>
        <ul>
          <li>Django</li>
          <li>PostgreSQL</li>
          <li>Redis</li>
          <li>Pygame</li>
          <li>Celery</li>
        </ul>

        <h3>Programming Languages</h3>
        <ul>
          <li>Python</li>
          <li>Javascript</li>
          <li>HTML/CSS</li>
        </ul>
        <p>&nbsp;</p>
        </ul>
        
      </div>
    </div>
  </div>

  <div class="project-slide">
    <div class="imagecontainer">
      <a href="{% url 'srmt' %}">
        <img src="{% static 'images/SRMT.png' %}">
      </a>
      <div class="titletextspace">
        <div class="titletextspace-contents">
          <div class="title"><h3>Aberdeen SRMT website</h3></div>
          <div class="subtitle">A 5-star rated home-run soft tissue therapy</div>
        </div>
      </div>
    </div>
    <div class="description">
      <div class="description-text">

        <h3>Summary</h3>
        <p>Aberdeen SRMT is a small home-run physiotherapy practice that offers great service for a sensible price. <a href="https://www.aberdeensrmt.co.uk/">www.aberdeensrmt.co.uk</a></p>
        <p>The business owner reached out to me to improve the practice's website, marketing and optimize the content in order to improve the SEO (Search Engine Optimization).</p>
        <a href="{% url 'srmt' %}">Read more</a>

        <h3>Tech Stack</h3>
        <ul>
          <li>Wix</li>
        </ul>

        <h3>Programming Languages</h3>

        <ul>
          <li>Javascript</li>
          <li>HTML/CSS</li>
        </ul>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>

  <div class="project-slide">
    <div class="imagecontainer">
      <a href="{% url 'experimentio' %}">
        <img src="{% static 'images/experimentio.png' %}">
      </a>
      <div class="titletextspace">
        <div class="titletextspace-contents">
          <div class="title"><h3>Experiment.io</h3></div>
          <div class="subtitle">A sandbox for psychological research</div>
        </div>
      </div>
    </div>
    <div class="description">
      <div class="description-text">

        <h3>Summary</h3>
        <p>This is a project developped for the University of Aberdeen as a sandbox for researchers.</p>
        <p>It enables them to develop different kinds of experiments, deploy and quickly share with the target audience.
          This web app is a result of combined effort of 5 students, who worked on it throughout the first quater of 2023.</p>
        <a href="{% url 'experimentio' %}">Read more</a>

        <h3>Tech Stack</h3>
        <ul>
          <li>Django</li>
          <li>PostgreSQL</li>
        </ul>

        <h3>Programming Languages</h3>
        <ul>
          <li>Python</li>
          <li>Javascript</li>
          <li>HTML/CSS</li>
        </ul>

      </div>
    </div>
  </div>

<script>

</script>
{% endblock %}