<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}SRMT Aberdeen{% endblock %}
{% block pname %}SRMT Aberdeen{% endblock %}

{% block content %}

<div class="aboutcontainer">
    <div class="mainabout">

        <h3>Aberdeen SRMT</h3>
        <p>Aberdeen SRMT is a 5-star rated home-run soft tissue therapy clinic run by Anthony. Soft tissue therapy aims to release pain, tension, and stress from muscles, joints, and other soft tissues within the body. 
            This is performed by way of Sports massage or remedial massage. All treatments are evidence-based and specific to every injury, pain, or stress you might feel.
            Anthony has studied Soft tissue therapy at Perth UHI, he has over 1000 hours of hands-on experience with clients ranging from triathletes, climbers, full-time office-based professionals, the retired population, physical laborers, and professional athletes.
            
            <a href="https://www.aberdeensrmt.co.uk/">www.aberdeensrmt.co.uk</a>
        </p>

        <h3>Background</h3>
            <p>I was looking for a physiotherapist to help with my back mobility and a friend of mine recommended Anthony. I managed to book an appointment through his website and went for it a week later.
                I was positively suprised at the quality of the treatment and the atmosphere that resides withtin this home run practice. I saw a huge potential for growth and decided to help out with the clinic's website and marketing.
            </p>

        <h3>Work Done</h3>
            <p>In 3 weeks of intense work the following actions were taken</p>
            <ul>
                <li>Complete overhaul of the website</li>
                <li>Various SEO improvements with reference to <a href="https://developers.google.com/search/docs/fundamentals/get-on-google">google's documentation</a></li>
                <li>Instagram created and ran by a social media manager</li>
                <li>Models found for posing</li>
                <li>New pictures taken at the place of business</li>
                <li>Close work with the owner of the practice and some of its customers</li>
            </ul>
    </div>
</div>

{% endblock %}